h1 {
color: green;
font-size:250%;
text-align: center;
}
div {
color: black;
font-family: Comic Sans MS;
font-size:150%;
}

h3 {color: black;
font-family: Comic Sans MS;
font-size: 120%;
}
h2 {
color: #611914;
font-size:250%;
text-align: center;
}
